<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs control-group">
      <%= f.input :name %>
      <%= f.input :content, :as => :ckeditor,
                  :input_html => { :toolbar => 'Full' } %>
    </div>

    <% @service.build_service_image %>
    <%= f.simple_fields_for :service_image do |ff| %>
        <%= ff.file_field :image, class: 'controls' %>
    <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
